<nav>
    <ul>
        <li>
            <a class="home-link" href="/">File Uploader</a>
        </li>
        
        <% if (user) { %>
            <li>
                <a href="/log-out">Log out</a>
            </li>
        <% } %>        
    </ul>
</nav>