<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign up</h1>

    <%- include("partials/errors.ejs", {errors: errors}) %>

    <form action="/sign-up" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required>

        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>

        <label for="confirmPassword">Confirm password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        
        <button type="submit">Sign up</button>
    </form>

    <h2>Already have an account? <a href="/log-in">Log in</a>.</h2>
</body>
</html>