html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
    font-family: "Palanquin", sans-serif;
}

* {
    box-sizing: border-box;
}

/* NAVBAR */

nav {
    height: 6.4rem;
    background-color: #1F2937;
    color: white;
}

nav a {
    color: #3B82F6;
    font-size: 1.6rem;
}

nav a:hover {
    color: #316ccc;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    padding: 0 5rem;
}

.home-link {
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}

.home-link:hover {
    color: rgb(217, 217, 217);
}

/* LOGIN PAGE */

.login-container {
    background-color: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .signup {
    background-color: #1E293B;
    padding: 3rem 0;
    width: 40rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    color: white;
}

.login h1, .signup h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
}

.login-form input, .signup-form input {
    height: 4.2rem;
    width: 85%;
    background-color: #1F2937;
    border: 1px solid #374151;
    border-radius: 8px;
    padding-left: 9px;
    color: #94A3B8;
    font-size: 1.6rem;
}

.login-form button, .signup-form button {
    height: 5.2rem;
    width: 87%;
    background-color: #27b9f8;
    color: white;
    border-radius: 8px;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #22a7e0;
}

.login h2, .signup h2 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.login a, .signup a {
    color: #38BDF8;
}

.login a:hover, .signup a:hover {
    color: #31a9dd;
}

.alert {
    font-size: 1.5rem;
    color: rgb(254, 57, 57);
}

/* SIGNUP PAGE */

.signup {
    width: 45rem;
}

.signup-container {
    background-color: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    gap: 2rem;
}

.signup-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
}

.signup-form label {
    width: 85%;
    font-size: 1.6rem;
}

/* INDEX PAGE */

.index-container {
    background-color: #0f172a;
    color: white;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.index-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

.index-container h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

.add-file-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #1E293B;
    padding: 3rem 4rem;
    border-radius: 8px;
}

.add-file-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.index-container form button {
    background-color: #38BDF8;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    height: 4rem;
}

.index-container form button:hover {
    background-color: #22a7e0;
    color: rgb(237, 236, 236);
}

.file-select {
    position: relative;
    display: inline-block;
    display: flex;
    /* width: 40%; */
    gap: 2rem;
}

.file-select input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-select label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: bold;
}

.file-select label:hover {
    background-color: #429a45;
}

#file-name {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #a7aeba;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-folder-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #1E293B;
    padding: 3rem 4rem;
    border-radius: 8px; 
}

.create-folder-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create-folder-container form label {
    font-size: 1.8rem;
}

.create-folder-container form input {
    height: 4.2rem;
    background-color: #1F2937;
    border: 1px solid #374151;
    border-radius: 8px;
    padding-left: 9px;
    color: #94A3B8;
    font-size: 1.6rem;
}

.folders-container, .files-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #1E293B;
    padding: 3rem 4rem;
    border-radius: 8px; 
}

.folders-container h3, .files-container h3 {
    font-size: 1.8rem;
    color: #a7aeba;
}

.folder-list, .file-list {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.folder, .file {
    font-size: 2.2rem;
    color: #3B82F6;
}

.folder a, .file a {
    color: #3B82F6;
    width: 100%;
    display: block;
    padding: 1.5rem 1rem;
    border-radius: 8px;
}

.folder a:hover, .file a:hover {
    color: #5492f6;
    background-color: #3a485e4f;
}

.folder a, .file a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOLDER PAGE */

.folder-container {
    background-color: #0f172a;
    color: white;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.back-button {
    background-color: #38BDF8;
    font-size: 1.8rem;
    width: fit-content;
    padding: 1.2rem 1.5rem;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.back-button:hover {
    background-color: #22a7e0;
    color: rgb(237, 236, 236);
}

.folder-container h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

.folder-container input[type=text] {
    background-color: #1F2937;
}

.edit-folder-form {
    width: 60%;
    display: flex;
    gap: 4rem;
}

.edit-folder-form input, .create-subfolder-form input {
    padding: 2rem;
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    color: #94A3B8;
    background-color: #1F2937;
    border: 1px solid #374151;
}

.edit-folder-form input {
    width: 80%;
}

.edit-folder-form button, .create-subfolder-form button {
    background-color: #38BDF8;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.edit-folder-form button:hover, .create-subfolder-form button:hover {
    background-color: #22a7e0;
    color: rgb(237, 236, 236);
}

.delete-folder-form button {
    background-color: #EF4444;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    padding: 1.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.delete-folder-form button:hover {
    background-color: #d13c3c;
    color: rgb(237, 236, 236);
}

.folder-name-container {
    display: flex;
    justify-content: space-between;
}

.folder-name-container h1 {
    overflow-wrap: break-word;
}

.create-subfolder-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 4rem;
    background-color: #1E293B;
    border-radius: 8px;
}

.folder-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

.create-subfolder-form {
    display: flex;
    gap: 4rem;

}

.add-file-form button {
    background-color: #38BDF8;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    height: 4rem;
}

.add-file-form button:hover {
    background-color: #22a7e0;
    color: rgb(237, 236, 236);
}

.folder-items-container {
    display: flex;
    flex-direction: column;
    background-color: #1E293B;
    padding: 3rem 4rem;
    border-radius: 8px;
    min-height: 50rem;
}

.folder-items-container h3 {
    font-size: 2rem;
}

.empty-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FILE PAGE */

.file-container {
    background-color: #0f172a;
    color: white;
    padding: 3rem 5rem;
    display: flex;
    min-height: 89vh;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
}

.file-container .back-button {
    align-self: flex-start;
}

.file-container h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

.file-container .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.file-card {
    background-color: #1E293B;
    border-radius: 8px;
    height: 30rem;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 5rem;
}

.file-card .group {
    height: 40%;
}

.file-card .group:first-of-type {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.file-card .group:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.download-button {
    background-color: #3B82F6;
    font-size: 1.8rem;
    color: white;
    padding: 2rem 5rem;
    border-radius: 8px;
    font-weight: bold;
}

.download-button:hover {
    background-color: #3776dc;
}

.delete-file-form button {
    background-color: #EF4444;
    font-size: 1.8rem;
    color: white;
    padding: 2rem 5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.delete-file-form button:hover {
    background-color: #cf3b3b;
}

/* PHONE  430 650*/
@media (max-width: 500px) {
    /* NAVBAR */
    nav ul {
        padding: 0 3rem;
    }

    /* SIGNUP PAGE */
    .signup {
        width: 90%;
    }

    /* LOGIN PAGE */
    .login {
        width: 90%;
    }

    /* INDEX PAGE */
    .index-container {
        padding: 3rem;
    }

    /* FOLDER PAGE */
    .folder-container {
        padding: 3rem;
    }

    .folder-name-container {
        flex-direction: column;
        gap: 3rem;
    }

    .folder-name-container h1 {
        overflow-wrap: break-word;
    }

    .edit-folder-form {
        width: 100%;
        gap: 2rem;
    }

    .create-subfolder-form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

/* TABLET  max 650*/
@media (min-width: 501px) and (max-width: 1260px) {
    /* SIGNUP PAGE */
    .signup {
        width: 75%;
    }

    /* LOGIN PAGE */
    .login {
        width: 75%;
    }

    /* FOLDER PAGE */
    .edit-folder-form {
        width: 80%;
    }

    .folder-name-container {
        flex-direction: column;
        gap: 2rem;
    }

    .folder-name-container h1 {
        overflow-wrap: break-word;
    }
}